.ct-first{
    padding-top: .3rem!important;
    padding-bottom: 1px;
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bg-dark{
    background-color: rgb(51, 51, 51);
}
.ct-second{
    padding-top: 20px;
    background-color: rgb(245, 245, 245);
    padding-bottom: 20px;
}
.finalBarraNegra{
    text-indent: 20px;
}
.prueba{
    size: 10px;
}
.texto3{
    font-size: 11px;
    text-align: left;
}
.titulo-text{
    font-size: 11px;
    font-weight: bold;
}
.responsive-img{
    position: absolute;
}
.center-align{
    position: relative;
    display: flex;
    flex-direction: column;
}
.textoEnImagen1{ 
    font-weight: 400;
    color: white;
}
.buscador{
    width: auto;
    margin-top: -20px;
}
.tituloProduct{
    margin-top: 60px;
    font-family: robotoblack;
    font-weight: bolder;
    color: white;
}
.light{
    font-family: robotolight;
}
.view1{
    font-family: robotolight;
    color:white;
}
.carro{
    margin-left: 50px;
    color: white;
}
.carro:hover{
    background-color: rgb(0, 200, 200);
}
.ave1{
    color: rgb(0, 200, 200);
}
.banner{
    font-family: robotolight;
    color: black;
    font-weight: bolder;
    font-size: 11px;
}
.banner:hover{
    color: rgb(0, 200, 200);
}
.gray-color{
    color: gray;
}
.btn-login{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 0.9en;
    border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    padding: 3px 15px 3px 15px;
}

.nav-wrapper1{
    text-indent: 10px;
}
.nav-wrapper2{
    text-indent: 10px;
    display: flex;
    flex-direction: row;    
}

.imagen{
    margin: 0;
    position: absolute;
}
.container ct-cuatro{
    padding-top: .5rem!important;
    background-color: gainsboro;
    padding-bottom: 90px;
}
.ct-tres{
    position: relative;
}
.blacktext{
    position: absolute;
}

.ct-cincoCentral{
    padding-top: .5rem!important;
    padding-bottom: 90px;        
}


.ct-cinco{
    background-color: gainsboro;
    margin-top: 70px;
}
.navDescription{
    background-color: black;
}
.navDescription1{
    color: #515455;
}
.card-content{
    font-size: 10px;
}
.span{
    color: #515455;
    font-weight: bold;
}
.ct-seis{
    background-color: white;
}

.ct-siete{
    margin-top: 180px;
}


.page-footer{
    display: flex;
    background-color: #ece5e5;
}

.ct-nueve{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 20px;
}

.ladoIzquierdo{
    background-color: rgb(61, 59, 59);
    width: 700px;
    height: 160px;
    margin: 20px;
}

.ladoDerecho{
    background-color: rgb(0, 200, 200);
    width: 700px;
    height: 160px;
    margin: 20px;
}

.titulo-text{
    color: #252727;
}
.textoEnFooter{
    color: #383b3b;
    font-size: 10px;
}

ul {
list-style: none;
}

.footer-copyright{
    background-color: #252727;
    padding: 15px;
}
.textoEnFooter2{
    color: #d6caca;
    text-indent: 20px;
    font-size: 11px;
}
.año1{
    color: #d6caca;
    font-size: 11px;
}


.finalPagina{
    color: #d6caca;

}
































@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('../fonts/anyconv.com__montserratalternates-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesXBdIt';
    src: url('../fonts/anyconv.com__montserratalternates-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesXLt';
    src: url('../fonts/anyconv.com__montserratalternates-extralight-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesXLtIt';
    src: url('../fonts/anyconv.com__montserratalternates-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesblack';
    src: url('../fonts/anyconv.com__montserratalternates-black-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesBlkIt';
    src: url('../fonts/anyconv.com__montserratalternates-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('../fonts/anyconv.com__montserratalternates-bold-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesBdIt';
    src: url('../fonts/anyconv.com__montserratalternates-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesMdIt';
    src: url('../fonts/anyconv.com__montserratalternates-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('../fonts/anyconv.com__montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatessemibold';
    src: url('../fonts/anyconv.com__montserratalternates-semibold-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesSBdIt';
    src: url('../fonts/anyconv.com__montserratalternates-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesitalic';
    src: url('../fonts/anyconv.com__montserratalternates-italic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('../fonts/anyconv.com__montserratalternates-light-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesLtIt';
    src: url('../fonts/anyconv.com__montserratalternates-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('../fonts/anyconv.com__montserratalternates-medium-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratblack_italic';
    src: url('../fonts/anyconv.com__montserrat-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/anyconv.com__montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold_italic';
    src: url('../fonts/anyconv.com__montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextrabold';
    src: url('../fonts/anyconv.com__montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextrabold_italic';
    src: url('../fonts/anyconv.com__montserrat-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesthin';
    src: url('../fonts/anyconv.com__montserratalternates-thin-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesThIt';
    src: url('../fonts/anyconv.com__montserratalternates-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserratalternates-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratblack';
    src: url('../fonts/anyconv.com__montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight_italic';
    src: url('../fonts/anyconv.com__montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/anyconv.com__montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium_italic';
    src: url('../fonts/anyconv.com__montserrat-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/anyconv.com__montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextralight';
    src: url('../fonts/anyconv.com__montserrat-extralight-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextralight_italic';
    src: url('../fonts/anyconv.com__montserrat-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratitalic';
    src: url('../fonts/anyconv.com__montserrat-italic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/anyconv.com__montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratthin_italic';
    src: url('../fonts/anyconv.com__montserrat-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../fonts/anyconv.com__montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold_italic';
    src: url('../fonts/anyconv.com__montserrat-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/anyconv.com__montserrat-thin-webfont.woff2') format('woff2'),
         url('../fonts/anyconv.com__montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../fonts/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../fonts/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.span1{
    color: black;
    font-weight: bolder;
}
.estrellas{
    margin-bottom: -9px;
}
.letras{
    font-size: 11px;
    color: black;
}
.letras:hover{
    color: rgb(0, 200, 200);
}
.nota1{
    color: rgb(0, 200, 200);
}
.numero1{
    font-size: 17px;
    text-decoration: line-through;
}
.numero2{
    font-size: 17px;
}
.textoFoto{
    font-size: 11px;
    font-weight: bolder;
}
.span3{
    color: rgb(32, 31, 31);
    font-weight: bolder;
    font-size: 11px;
}
.barra{
    display: flex;
}
.botones{
    background-color: white;
    color: black;
}
.select1{
    color: gray;
}
.opciones1{
    color: black;
}
.boton1:hover{
    background-color: black;
    color: white;
}
.iconos2{
    font-size: 14px;
}
.boton1{
    background-color: white;
    color:gray;
}
.boton3{
    color: black;
    font-weight: bolder;
    font-size: 10px;
}
.letras2{
    color: white;
}
.redes{
    text-indent: 20px;
    margin-top: 65px;
    margin-right: 40px;
}
.redes1{
    margin-top: 40px;
}
.award1{
    font-weight: bolder;
    color: white;
    font-size: 25px;
}
.fashion1{
    color: white;
    font-size: 25px;
    margin-top: -20px;
}
.ct-once{
    margin-top: -20px;
    background-color: #ece5e5;
}
